<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>

<div id="pageloader">
    <div class="loader-item">
        <div class="loader-item-content">
            <i class="icofont-paw"></i>
        </div>
    </div>
</div>
<b class="screen-overlay"></b>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/banner :: banner"></div>

<article class="card mobile-offcanvas offcanvas-right" id="card_mobile">
    <div class="shop-sidebar">
        <div class="offcanvas-header">
            <button class="btn btn-close"> <i data-feather="x-circle"></i> </button>
        </div>
        <h3 class="head">My Cart</h3>
        <ul class="list-unstyled">
            <li>
                <img src="assets/images/shop/sidebar_shop_1.jpg" alt>
                <div>
                    <h4><a href="shop-single.html">Lounger Dog Bed</a></h4>
                    <h6>$85</h6>
                </div>
                <div class="delete-btn">
                    <a href="#"><i class="icofont-close-line"></i></a>
                </div>
            </li>
            <li>
                <img src="assets/images/shop/sidebar_shop_2.jpg" alt>
                <div>
                    <h4><a href="shop-single.html">Sara's Doggie Treat</a></h4>
                    <h6>$45</h6>
                </div>
                <div class="delete-btn">
                    <a href="#"><i class="icofont-close-line"></i></a>
                </div>
            </li>
        </ul>
        <div class="sidebar-subtotal">
            <span>Subtotal</span>
            <strong>$130</strong>
        </div>
        <div class="btn-holder">
            <div class="col">
                <a href="shop-cart.html" class="btn-theme bordered bg-navy-blue btn-sm btn-block">View Cart</a>
            </div>
            <div class="col">
                <a href="shop-checkout.html" class="btn-theme bg-orange btn-shadow btn-sm btn-block">Checkout</a>
            </div>
        </div>
    </div>
</article>

<main id="body-content">

    <section class="wide-tb-100 pb-0">
        <div class="container">
            <section class="map-wrap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319"></iframe>
            </section>
        </div>
    </section>


    <section class="wide-tb-100 pb-0">
        <div class="container">
            <h1 class="heading-main center">
                <small>Hãy Liên Lạc Với Chúng Tôi <i class="pethund_repeat_grid"></i></small>
                <span>Thực hiện</span> yêu cầu trực tuyến?
            </h1>
            <div class="row">
                <div class="col-lg-8 col-md-12 mx-auto">
                    <div class="need-help">
                        <div id="sucessmessage"></div>
                        <form action="#" method="post" id="contact_form" novalidate="novalidate">
                            <div class="row">
                                <div class="col-md-6 mb-0">
                                    <div class="mb-3">
                                        <input type="text" name="name" id="name" class="form-control" placeholder="Tên của bạn">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-0">
                                    <div class="mb-3">
                                        <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Họ">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-0">
                                    <div class="mb-3">
                                        <input type="text" name="email" id="email" class="form-control" placeholder=" Email">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-0">
                                    <div class="mb-3">
                                        <input type="number" name="phone" id="phone" class="form-control" placeholder="Số điện thoại">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-0">
                                    <div class="mb-3">
                                        <textarea name="comment" id="comment" class="form-control" rows="6" placeholder="Nội dung"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn-theme bg-green mt-3 capusle">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-100 bg-light-gray clients-rounded-wrap need-help-topspace">
        <div class="container pos-rel">
            <div class="contact-map-img">
                <img src="assets/images/World-Map-PNG-Picture.png" alt>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="icon-box-4 h-100">
                        <i data-feather="map-pin"></i>
                        <h3>Địa chỉ</h3>
                        <div>Đ. Hồ Tùng Mậu - Mai Dịch - Cầu Giấy - Hà Nội</div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6">
                    <div class="icon-box-4 h-100">
                        <i data-feather="phone"></i>
                        <h3> Số điện thoại </h3>
                        <div> (+84) 0989-089-089 </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 mx-auto">
                    <div class="icon-box-4 h-100">
                        <i data-feather="mail"></i>
                        <h3>Mail Us</h3>
                        <div><span>PestHund@gmail.com</span></div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<div th:replace="layout/call_us :: call_us"></div>
<footer th:replace="layout/footer :: footer"></footer>

<div class="overlay overlay-hugeinc">
    <form class="form-inline mt-2 mt-md-0">
        <div class="form-inner">
            <div class="form-inner-div d-inline-flex align-items-center g-0">
                <div class="col-md-1">
                    <i class="icofont-search"></i>
                </div>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-1">
                    <a href="#" class="overlay-close link-oragne"><i class="icofont-close-line"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>


<a id="mkdf-back-to-top" href="#" class="off"><i class="icofont-rounded-up"></i></a>


<div th:replace="layout/script :: script"></div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery.min.js"></script>
<script src="assets/js/theme-plugins.min.js"></script>

<script src="assets/js/site-custom.js"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"857f41e2691e3e0e","version":"2024.2.1","r":1,"token":"64224fc8786846928480d180dfc466bd","b":1}' crossorigin="anonymous"></script>

</body>

<!-- Mirrored from mannatstudio.com/html/pethund/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Feb 2024 07:39:23 GMT -->
</html>