<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>

<div id="pageloader">
    <div class="loader-item">
        <div class="loader-item-content">
            <i class="icofont-paw"></i>
        </div>
    </div>
</div>
<b class="screen-overlay"></b>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/banner :: banner"></div>


<main id="body-content">

    <section class="wide-tb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <img src="/frontend/images/home_welcom_one.png" alt>
                </div>
                <div class="col-lg-5">
                    <h1 class="heading-main">
                        <small>Quality & Experience <i class="pethund_repeat_grid"></i></small>
                        <span>Chào mừng đến</span> Pethund
                    </h1>
                    <p>Tại Pethund, khát vọng của chúng tôi là bạn luôn cảm thấy được chào đón dù là người quảng cáo hay khách truy cập.
                        Một trang web hiện đại và dễ quản lý giúp người dùng dễ dàng điều hướng.
                        hoặc các từ ngẫu nhiên mà không có vẻ đáng tin cậy,
                        bạn cần đảm bảo rằng không có điều gì xấu hổ. Vestibu lum at eros.</p>
                    <ul class="list-unstyled icons-listing theme-green paws fw-7 mt-5 txt-blue">
                        <li>Cung cấp và trải nghiệm chất lượng</li>
                        <li>Đào tạo và hỗ trợ chuyên nghiệp</li>
                        <li>Giải quyết các vấn đề khách hàng nhanh chóng</li>
                    </ul>
                    <a href="about.html" class="btn-theme bg-navy-blue capusle mt-4 wow fadeInDown">Discover More</a>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-100 bg-navy-blue pt-0 gdr-img-box-wrap-home">
        <div class="container">
            <div class="row g-0 gdr-img-box-wrap home">
                <div class="col-lg-4 col-md-4 wow pulse" data-wow-duration="0" data-wow-delay="0">

                    <div class="gdr-img-box bg-green">
                        <img src="/frontend/images/gdr_img_1.jpg" alt class="ms-auto d-flex">
                        <div class="info-text">
                            <i class="icofont-paw"></i>
                            <h3>Chúng tôi điều trị</h3>
                            <div>Dịch vụ Thú y Nhanh chóng</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 wow pulse" data-wow-duration="0" data-wow-delay="0.2s">

                    <div class="gdr-img-box bg-orange">
                        <img src="/frontend/images/gdr_img_2.jpg" alt class="ms-auto d-flex">
                        <div class="info-text">
                            <i class="icofont-paw"></i>
                            <h3>Sứ mệnh của chúng tôi</h3>
                            <div>Cung cấp dịch vụ nhanh chóng & dễ dàng</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 wow pulse" data-wow-duration="0" data-wow-delay="0.4s">

                    <div class="gdr-img-box bg-blue">
                        <img src="/frontend/images/gdr_img_3.jpg" alt class="ms-auto d-flex">
                        <div class="info-text">
                            <i class="icofont-paw"></i>
                            <h3>Nhận nuôi bất kỳ ai</h3>
                            <div>Tham gia câu lạc bộ của chúng tôi để giúp đỡ họ/div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 mx-auto text-center txt-white">
                    <p>Maecenas ở đường cong. Donec thực hiện sodales, laoreet scelerisque làm cho nó trở thành id hendrerit. Trong lượng lớn, không cần phải làm cho maximus. Etiam rhoncus là một nơi, không cần thiết phải làm cho ipsum.
                    </p>
                    <div class="text-center mt-4">
                        <a href="contact-us.html" class="btn-theme bg-orange capusle bordered me-4"><span class="txt-white">Liên hệ chúng tôi</span></a>
                        (+44) 123 456 789
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-150">
        <div class="container">
            <h1 class="heading-main center wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                <small>Những gì chúng tôi cung cấp cho bạn <i class="pethund_repeat_grid"></i></small>
                <span>Dịch vụ cung cấp của  </span> chúng tôi
            </h1>
            <div class="row">

                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_petsitting"></i>
                        </div>
                        <div class="text">
                            <h3>Con thú nuôi đang ngồi</h3>
                            <p>Aliquam là một loại thuốc giảm đau. Trong sự phân giải của nó, tăng cường fermentum, và pellentesque làm cho leo. Maecenas ở cung đường cong. </p>
                            <a href="services-single.html" class="read-more-arrow">
                                Read More <span> <i class="icofont-simple-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_pet_grooming"></i>
                        </div>
                        <div class="text">
                            <h3>Chăm sóc thú cưng</h3>
                            <p>Aliquam là một loại thuốc giảm đau. Trong sự phân giải của nó, fermentum tăng lên, và pellentesque làm cho leo. Maecenas ở đường cong. </p>
                            <a href="services-single.html" class="read-more-arrow">
                                Đọc thêm <span> <i class="icofont-simple-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_adoption"></i>
                        </div>
                        <div class="text">
                            <h3>Nhận nuôi thú cưng</h3>
                            <p>Aliquam là một loại thuốc giảm đau. Trong sự phân giải, fermentum tăng lên, và pellentesque làm cho leo. Maecenas ở đường cong </p>
                            <a href="services-single.html" class="read-more-arrow">
                                Đọc thêm <span> <i class="icofont-simple-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_natural_product"></i>
                        </div>
                        <div class="text">
                            <h3>Sản phẩm tự nhiên</h3>
                            <p>Giới thiệu thuốc tự nhiên cho thú cưng của bạn. Chăm sóc an toàn, hiệu quả từ thiên nhiên để thú cưng luôn khỏe mạnh và hạnh phúc. </p>
                            <a href="services-single.html" class="read-more-arrow">
                                Read More <span> <i class="icofont-simple-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_vaccinated"></i>
                        </div>
                        <div class="text">
                            <h3>Tiêm phòng cho thú cưng</h3>
                            <p>Tiêm phòng cho thú cưng của bạn. Bảo vệ sức khỏe, an toàn và hiệu quả từ các giải pháp tiên tiến. </p>
                            <a href="services-single.html" class="read-more-arrow">
                                Read More <span> <i class="icofont-simple-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_pet_food"></i>
                        </div>
                        <div class="text">
                            <h3>Thức ăn cho thú cưng</h3>
                            <p>Dinh dưỡng tốt, nguồn gốc tự nhiên giúp thú cưng luôn khỏe mạnh. </p>
                            <a href="services-single.html" class="read-more-arrow">
                                Read More <span> <i class="icofont-simple-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="text-center wow fadeInUp col-md-12" data-wow-duration="0" data-wow-delay="0s">
                    <a href="our-services.html" class="btn-theme bordered capusle bg-navy-blue">View All Services</a>
                </div>
            </div>
        </div>
    </section>


    <section class="bg-green">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="about-home-one-img h-100">
                        <img src="/frontend/images/counter_bg.jpg" class="d-lg-none d-block" alt>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-home-one">
                        <h1 class="heading-main light-mode">
                            <small>Làm để hiểu họ <i class="pethund_repeat_grid"></i></small>
                            About Us <span class="txt-blue">Few words</span>
                        </h1>
                        <p class="mb-4">
                            Maecenas ở đường cong. Donec thực hiện sodales, scelerisque laoreet làm cho nó trở thành hendrerit id. Trong lượng aliquet lớn, nec lobortis làm cho maximus. Etiam rhoncus là một nơi đặt, nec elementum làm cho convall.
                        </p>
                        <div class="accordion accordion-flush theme-accordian" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        Our Philosophy
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="content">
                                            Thực hiện sodales, scelerisque laoreet làm cho nó trở thành hendrerit. Trong lượng aliquet lớn, nec lobortis làm cho maximus. Etiam rhoncus là nơi đặt, nec elementum làm cho convall.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                        Tổ chức của chúng tôi
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="content">
                                            "Tổ chức chúng tôi chuyên về chăm sóc và bảo vệ thú cưng với sản phẩm tự nhiên và an toàn. Đội ngũ giàu kinh nghiệm và đam mê, luôn lắng nghe và đáp ứng nhanh chóng nhu cầu của khách hàng. Chúng tôi cam kết đem lại sức khỏe và hạnh phúc cho thú cưng của bạn."
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                        Biết thêm về việc nhận con nuôi
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="content">
                                            Chúng tôi rất mở lòng với việc nhận nuôi thú cưng. Đối với những bạn muốn mang về nhà một thành viên mới, chúng tôi cung cấp dịch vụ nhận nuôi thú cưng từ các trung tâm cứu hộ hoặc chương trình nuôi thời gian ngắn. Mục tiêu của chúng tôi không chỉ là tìm kiếm một mái ấm mới cho thú cưng, mà còn là kết nối con người với những người bạn bốn chân. Chúng tôi đảm bảo rằng mỗi thú cưng trước khi được nhận nuôi đều được kiểm tra sức khỏe và có đủ điều kiện để sống trong môi trường mới.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about-video">
                            <a href="https://player.vimeo.com/video/7449107" class="popup-video">
                                <i class="pethund_videoPlay"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-100">
        <div class="container">
            <h1 class="heading-main center wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                <small>Đội ngũ nhân viên hoàn hảo của chúng tôi <i class="pethund_repeat_grid"></i></small>
                <span>Gặp chúng tôi</span> người chải chuốt
            </h1>
            <div class="owl-carousel owl-theme" id="team-slider-about">

                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/team/team-1.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="team-single.html">Meghan Smith</a></h4>
                            <div><strong>Người huấn luyện thú cưng</strong></div>
                        </div>
                        <a href="team-single.html" class="read-more-arrow">
                            Đọc thêm <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/team/team-2.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="team-single.html">Alissa Silva</a></h4>
                            <div><strong>Người huấn luyện thú cưng</strong></div>
                        </div>
                        <a href="team-single.html" class="read-more-arrow">
                            Đọc thêm <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/team/team-3.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="team-single.html">Lucas Manson</a></h4>
                            <div><strong>Người huấn luyện thú cưngNgười huấn luyện thú cưng</strong></div>
                        </div>
                        <a href="team-single.html" class="read-more-arrow">
                            Đọc thêm<span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/team/team-4.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="team-single.html">Cindey Harris</a></h4>
                            <div><strong>bác sĩ thú y</strong></div>
                        </div>
                        <a href="team-single.html" class="read-more-arrow">
                            Đọc thêm <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/team/team-5.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="team-single.html">Alissa Silva</a></h4>
                            <div><strong>bác sĩ thú ybác sĩ thú y</strong></div>
                        </div>
                        <a href="team-single.html" class="read-more-arrow">
                            Đọc thêmĐọc thêm <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/team/team-6.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="team-single.html">Lucas Manson</a></h4>
                            <div><strong>bác sĩ thú y</strong></div>
                        </div>
                        <a href="team-single.html" class="read-more-arrow">
                            Đọc thêm <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 mt-4 wow fadeInUp" data-wow-duration="0" data-wow-delay="0s">
                    <div class="text-center">
                        <strong>Gặp gỡ các chuyên gia của chúng tôi</strong>
                        <p>Chúng tôi có một đội ngũ có trình độ kinh nghiệm để chăm sóc người bạn thân nhất của bạn</p>
                        <a href="our-team.html" class="btn-theme bg-orange capusle bordered me-4">Xem tất cả đội</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-40 counter-bg-curve bg-orange">
        <div class="container">
            <div class="row">

                <div class="col col-6 col-lg-3 col-sm-6 wow fadeInLeft">
                    <div class="icon-box-3">
                        <div class="icon-font">
                            <i class="pethund_pet_belt"></i>
                        </div>
                        <div class="text">
                            <div class="counter-txt"><span class="counter">325</span>+</div>
                            <div>Adopted Pets</div>
                        </div>
                    </div>
                </div>


                <div class="col col-6 col-lg-3 col-sm-6 wow fadeInLeft">
                    <div class="icon-box-3">
                        <div class="icon-font">
                            <i class="pethund_pet_professional"></i>
                        </div>
                        <div class="text">
                            <div class="counter-txt"><span class="counter">20</span>+</div>
                            <div>Chuyên gia</div>
                        </div>
                    </div>
                </div>


                <div class="w-100 d-none d-md-block d-lg-none spacer-60"></div>


                <div class="col col-6 col-lg-3 col-sm-6 wow fadeInRight">
                    <div class="icon-box-3">
                        <div class="icon-font">
                            <i class="pethund_pet_awards"></i>
                        </div>
                        <div class="text">
                            <div class="counter-txt"><span class="counter">14</span>+</div>
                            <div>Giải thưởng thú cưng</div>
                        </div>
                    </div>
                </div>


                <div class="col col-6 col-lg-3 col-sm-6 wow fadeInRight">
                    <div class="icon-box-3">
                        <div class="icon-font">
                            <i class="pethund_pet_salon"></i>
                        </div>
                        <div class="text">
                            <div class="counter-txt"><span class="counter">795</span>+</div>
                            <div>Chăm sóc thú cưng</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="spacer-70">
        <p>&nbsp;</p>
    </section>

    <section class="wide-tb-150">
        <div class="container">
            <h1 class="heading-main center wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                <small>Chuyến tham quan bằng hình ảnh <i class="pethund_repeat_grid"></i></small>
                <span>Của chúng tôi</span> Phòng trưng bày
            </h1>
            <div class="row">
                <div class="col-md-4 gallery-item mb-0">
                    <div class="captured-gallery-item mb-4">
                        <div class="gallery-content">
                            <span href="/frontend/images/gallery/home/img_gallery1.jpg" title="Simba Jake"><i class="icofont-plus"></i></span>
                            <h3><a href="gallery-single.html">Simba Jake</a></h3>
                            <h5>mèo con</h5>
                        </div>
                        <img src="/frontend/images/gallery/home/img_gallery1.jpg" class="rounded" alt>
                    </div>
                    <div class="captured-gallery-item mb-4">
                        <div class="gallery-content">
                            <span href="/frontend/images/gallery/home/img_gallery5.jpg" title="Molly Cat"><i class="icofont-plus"></i></span>
                            <h3><a href="gallery-single.html">Molly Cat</a></h3>
                            <h5>mèo con</h5>
                        </div>
                        <img src="/frontend/images/gallery/home/img_gallery5.jpg" class="rounded" alt>
                    </div>
                </div>
                <div class="col-md-4 gallery-item mb-0">
                    <div class="captured-gallery-item mb-4">
                        <div class="gallery-content">
                            <span href="/frontend/images/gallery/home/img_gallery2.jpg" title="Tiger Wood"><i class="icofont-plus"></i></span>
                            <h3><a href="gallery-single.html">Tiger Wood</a></h3>
                            <h5>mèo con</h5>
                        </div>
                        <img src="/frontend/images/gallery/home/img_gallery2.jpg" class="rounded" alt>
                    </div>
                    <div class="captured-gallery-item mb-4">
                        <div class="gallery-content">
                            <span href="/frontend/images/gallery/home/img_gallery6.jpg" title="Gizmo Moody"><i class="icofont-plus"></i></span>
                            <h3><a href="gallery-single.html">Gizmo Moody</a></h3>
                            <h5>mèo con</h5>
                        </div>
                        <img src="/frontend/images/gallery/home/img_gallery6.jpg" class="rounded" alt>
                    </div>
                </div>
                <div class="col-md-4 gallery-item mb-0">
                    <div class="captured-gallery-item mb-4">
                        <div class="gallery-content">
                            <span href="/frontend/images/gallery/home/img_gallery3.jpg" title="Charlie Taz"><i class="icofont-plus"></i></span>
                            <h3><a href="gallery-single.html">Charlie Taz</a></h3>
                            <h5>mèo con</h5>
                        </div>
                        <img src="/frontend/images/gallery/home/img_gallery3.jpg" class="rounded" alt>
                    </div>
                    <div class="captured-gallery-item mb-4">
                        <div class="gallery-content">
                            <span href="/frontend/images/gallery/home/img_gallery7.jpg" title="Sophie Cute"><i class="icofont-plus"></i></span>
                            <h3><a href="gallery-single.html">Sophie Cute</a></h3>
                            <h5>mèo con</h5>
                        </div>
                        <img src="/frontend/images/gallery/home/img_gallery7.jpg" class="rounded" alt>
                    </div>
                </div>
                <div class="text-center wow fadeInUp col-md-12" data-wow-duration="0" data-wow-delay="0s">
                    <a href="gallery-4-col.html" class="btn-theme bg-orange btn-shadow">View Full Gallery</a>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-150 bg-snow pos-rel bg-navy-blue">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                    <h1 class="heading-main center light-mode wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                        <small>Khách hàng của chúng tôi đang nói gì <i class="pethund_repeat_grid"></i></small>
                        <span>Tuyệt vời</span> Feedback
                    </h1>
                </div>

            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="testimonial-rounded">
                        <div class="owl-carousel owl-theme" id="testimonial-rounded">

                            <div class="item">
                                <div class="client-testimonial">
                                    <div class="quote-icon">
                                        <i class="pethund_quotes"></i>
                                    </div>
                                    <p>Rất xa, xa xôi, sau những dãy núi từng tồn tại, xa các quốc gia Vokalia và Consonantia, có những đoạn văn mù lòa sống. Aliquam gravida, urna quis ornare imperdiet. </p>
                                    <div class="client-testimonial-icon justify-content-center d-flex align-items-center">
                                        <img src="/frontend/images/testimonial_thumb_1.jpg" alt class="rounded-circle">
                                        <h3>Tina Cambell <span>Pet Owner</span></h3>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="client-testimonial">
                                    <div class="quote-icon">
                                        <i class="pethund_quotes"></i>
                                    </div>
                                    <p>Rất xa, xa xôi, sau những dãy núi từng tồn tại, xa các quốc gia Vokalia và Consonantia, có những đoạn văn mù lòa sống. Aliquam gravida, urna quis ornare imperdiet. </p>
                                    <div class="client-testimonial-icon justify-content-center d-flex align-items-center">
                                        <img src="/frontend/images/team_2.jpg" alt class="rounded-circle">
                                        <h3>Tina Cambell <span>Pet Owner</span></h3>
                                    </div>
                                </div>
                            </div>


                            <div class="item">
                                <div class="client-testimonial">
                                    <div class="quote-icon">
                                        <i class="pethund_quotes"></i>
                                    </div>
                                    <p>Rất xa, xa xôi, sau những dãy núi từng tồn tại, xa các quốc gia Vokalia và Consonantia, có những đoạn văn mù lòa sống. Aliquam gravida, urna quis ornare imperdiet. </p>
                                    <div class="client-testimonial-icon justify-content-center d-flex align-items-center">
                                        <img src="/frontend/images/team_3.jpg" alt class="rounded-circle">
                                        <h3>Tina Cambell <span>Pet Owner</span></h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 order-md-first wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s">
                    <img src="/frontend/images/dog_sitting.png" alt>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-100">
        <div class="container">
            <h1 class="heading-main center">
                <small>Recent Blog Post <i class="pethund_repeat_grid"></i></small>
                <span>Latest News </span> & Articles
            </h1>
            <div class="owl-carousel owl-theme" id="blog-slider-home-one">

                <div class="item">
                    <div class="blog-wrap">
                        <div class="img">
                            <a href="blog-single.html"><img src="/frontend/images/blog/blog_img_1.jpg" alt></a>
                        </div>
                        <div class="meta-wrap">
                            <div class="date">08 <span>APR</span></div>
                            <a href="#" class="link-green">2 Comments</a>
                        </div>
                        <h3 class="title">
                            <a href="blog-single.html">Cách tạo sân hiên hoặc không gian ngoài trời cho mèo</a>
                        </h3>
                        <div class="description">
                            <p>Proin viverra ở nơi đó, ở nơi nó làm cho nhiều người trở thành người điều hành. Donec ornare, nằm ở đâu đó trong tincidunt placerat, là một mi suscipit.</p>
                        </div>
                        <a href="blog-single.html" class="read-more-arrow">
                            Read More <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="blog-wrap">
                        <div class="img">
                            <a href="blog-single.html"><img src="/frontend/images/blog/blog_img_2.jpg" alt></a>
                        </div>
                        <div class="meta-wrap">
                            <div class="date">08 <span>APR</span></div>
                            <a href="#" class="link-green">2 Comments</a>
                        </div>
                        <h3 class="title">
                            <a href="blog-single.html">Quá tải niềm vui là khi một cô gái kiệt sức vì niềm vui</a>
                        </h3>
                        <div class="description">
                            <p>Proin viverra không chỉ đơn thuần là một người điều hành mà còn là một auctor đầy quyền lực. Donec ornare, nằm ở chỗ tincidunt placerat, là một mi suscipit vượt trội.</p>
                        </div>
                        <a href="blog-single.html" class="read-more-arrow">
                            Read More <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="blog-wrap">
                        <div class="img">
                            <a href="blog-single.html"><img src="/frontend/images/blog/blog_img_3.jpg" alt></a>
                        </div>
                        <div class="meta-wrap">
                            <div class="date">08 <span>APR</span></div>
                            <a href="#" class="link-green">2 Comments</a>
                        </div>
                        <h3 class="title">
                            <a href="blog-single.html">Cúm chó – Con chó của bạn có cần được bảo vệ không?</a>
                        </h3>
                        <div class="description">
                            <p>Cúm chó là một bệnh nhiễm trùng gây ra bởi virus cúm chó, đặc biệt nguy hiểm đối với thú cưng. Việc bảo vệ chó khỏi cúm chó là rất quan trọng. Chúng tôi khuyến khích tất cả các chủ thú cưng nên tiêm phòng cho chó của mình đều đặn để bảo vệ chúng khỏi bệnh. Thuốc tiêm phòng chống cúm chó là an toàn và hiệu quả, giúp giảm thiểu rủi ro nhiễm trùng và bảo vệ sức khỏe cho chó yêu của bạn. Đừng ngần ngại tham khảo ý kiến của bác sĩ thú y để lựa chọn lịch trình tiêm phòng phù hợp cho thú cưng của bạn.</p>
                        </div>
                        <a href="blog-single.html" class="read-more-arrow">
                            Read More <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="blog-wrap">
                        <div class="img">
                            <a href="blog-single.html"><img src="/frontend/images/blog/blog_img_4.jpg" alt></a>
                        </div>
                        <div class="meta-wrap">
                            <div class="date">08 <span>APR</span></div>
                            <a href="#" class="link-green">2 Comments</a>
                        </div>
                        <h3 class="title">
                            <a href="blog-single.html">Chú ý bước đi của bạn khi nuôi mèo</a>
                        </h3>
                        <div class="description">
                            <p>"Chào mừng quý khách đến với thế giới của chúng tôi, nơi chúng tôi đam mê và yêu thương thú cưng, đặc biệt là mèo. Nuôi mèo không chỉ là việc cung cấp cho chúng một mái ấm, mà còn là việc tạo ra một môi trường sống an toàn, ấm cúng và hạnh phúc cho họ. Tại đây, chúng tôi cung cấp những lời khuyên hữu ích và thông tin hữu ích để giúp bạn trở thành một chủ nhân mèo tốt nhất có thể. Với sự chăm sóc đúng cách và tình yêu thương, mèo của bạn sẽ trở thành một thành viên gia đình đáng yêu, mang lại niềm vui và hạnh phúc cho cuộc sống hàng ngày.</p>
                        </div>
                        <a href="blog-single.html" class="read-more-arrow">
                            Read More <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="blog-wrap">
                        <div class="img">
                            <a href="blog-single.html"><img src="/frontend/images/blog/blog_img_5.jpg" alt></a>
                        </div>
                        <div class="meta-wrap">
                            <div class="date">08 <span>APR</span></div>
                            <a href="#" class="link-green">2 Comments</a>
                        </div>
                        <h3 class="title">
                            <a href="blog-single.html">5 lời khuyên giúp giải quyết nỗi lo lắng khi bị tách chó</a>
                        </h3>
                        <div class="description">
                            <p>

                                Giữ bình tĩnh: Bình tĩnh khi tách chó giúp làm giảm căng thẳng cho cả bạn và chó.
                                Nhận sự giúp đỡ: Liên hệ với cộng đồng hoặc trung tâm cứu hộ địa phương để nhận hỗ trợ và lời khuyên.
                                Lập kế hoạch tìm kiếm: Xác định các khu vực chó có thể đi lạc và thông báo rộng rãi để tìm kiếm.
                                Cập nhật thông tin: Thông tin và hình ảnh của chó cần được cập nhật thường xuyên đến cộng đồng và trung tâm cứu hộ.
                                Đừng từ bỏ: Hãy tiếp tục nỗ lực tìm kiếm và hy vọng. Nhiều trường hợp chó đã tái hợp sau khi mất một thời gian dài.</p>
                        </div>
                        <a href="blog-single.html" class="read-more-arrow">
                            Read More <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>


                <div class="item">
                    <div class="blog-wrap">
                        <div class="img">
                            <a href="blog-single.html"><img src="/frontend/images/blog/blog_img_6.jpg" alt></a>
                        </div>
                        <div class="meta-wrap">
                            <div class="date">08 <span>APR</span></div>
                            <a href="#" class="link-green">2 Comments</a>
                        </div>
                        <h3 class="title">
                            <a href="blog-single.html">Cách huấn luyện đối tác chạy chó của bạn</a>
                        </h3>
                        <div class="description">
                            <p>
                                Bắt đầu từ cơ bản: Bắt đầu với việc huấn luyện cơ bản như lệnh "ngồi", "đứng", và "đến đây".
                                Sử dụng phần thưởng: Sử dụng thức ăn hoặc đồ chơi yêu thích để tạo động lực cho chó.
                                Lập kế hoạch huấn luyện: Đặt lịch huấn luyện hàng ngày và giữ cho nó luôn kiên nhẫn và nhất quán.
                                Huấn luyện bên ngoài: Đưa chó ra ngoài để huấn luyện, tại đó có nhiều khói hỏa và sự phân tâm.
                                Giữ cho huấn luyện tích cực: Luôn đối xử với chó một cách tích cực và tránh sử dụng biện pháp trừng phạt quá mức.
                                Nhớ rằng, việc huấn luyện chó đòi hỏi sự kiên nhẫn, nhất quán và tình yêu thương.
                            </p>
                        </div>
                        <a href="blog-single.html" class="read-more-arrow">
                            Read More <span> <i class="icofont-simple-right"></i></span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="text-center mt-4 wow fadeInUp" data-wow-duration="0" data-wow-delay="0s">
                <a href="blog-classic.html" class="btn-theme bordered bg-orange capusle">View All Blog</a>
            </div>
        </div>
    </section>

</main>

<div th:replace="layout/call_us :: call_us"></div>
<footer th:replace="layout/footer :: footer"></footer>

<div class="overlay overlay-hugeinc">
    <form class="form-inline mt-2 mt-md-0">
        <div class="form-inner">
            <div class="form-inner-div d-inline-flex align-items-center g-0">
                <div class="col-md-1">
                    <i class="icofont-search"></i>
                </div>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-1">
                    <a href="#" class="overlay-close link-oragne"><i class="icofont-close-line"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>


<a id="mkdf-back-to-top" href="#" class="off"><i class="icofont-rounded-up"></i></a>


<div th:replace="layout/script :: script"></div>

</body>

</html>