<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>

<div id="pageloader">
    <div class="loader-item">
        <div class="loader-item-content">
            <i class="icofont-paw"></i>
        </div>
    </div>
</div>
<b class="screen-overlay"></b>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/banner :: banner"></div>


<main id="body-content">

    <section   class="wide-tb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <img src="/frontend/images/home_welcom_one.png" alt>
                </div>
                <div class="col-lg-5">
                    <h1 class="heading-main">
                        <small>Chất Lượng & Giá Cả <i class="pethund_repeat_grid"></i></small>
                        <span>Chào Mừng Đến</span> PetHund
                    </h1>
                    <p style="text-indent: 1em;">    Tại Pethund, khát vọng của chúng tôi là bạn luôn cảm thấy được chào
                        đón dù là người quảng cáo hay khách truy cập. Một trang web hiện đại và
                        dễ quản lý và hiểu được người dùng cần gì, hoặc các vấn đề về các bé cún sẽ không để bạn phải lo lắng. Trang web PestHund là một
                        trang đáng được tin cậy, và chúng tôi đảm bảo rằng sẽ không để phụ lòng khách hàng khi sử dụng dịch vụ PetHund.</p>
                    <ul class="list-unstyled icons-listing theme-green paws fw-7 mt-5 txt-blue">
                        <li>Cung cấp thức ăn cho thú cưng chất lượng</li>
                        <li>Đào tạo và chăm sóc các bé cún chuyên nghiệp</li>
                        <li>giải quyết các vấn đề khách hàng nhanh chóng</li>
                    </ul>
                    <a href="#" class="btn-theme bg-navy-blue capusle mt-4 wow fadeInDown">Khám Phá PestHund</a>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-100 bg-navy-blue pt-0 gdr-img-box-wrap-home">
        <div class="container">
            <div class="row g-0 gdr-img-box-wrap home">
                <div class="col-lg-4 col-md-4 wow pulse" data-wow-duration="0" data-wow-delay="0">

                    <div class="gdr-img-box bg-green">
                        <img src="/frontend/images/gdr_img_1.jpg" alt class="ms-auto d-flex">
                        <div class="info-text">
                            <i class="icofont-paw"></i>
                            <h3>Chúng tôi điều trị</h3>
                            <div>Dịch vụ thú y nhanh chóng</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 wow pulse" data-wow-duration="0" data-wow-delay="0.2s">

                    <div class="gdr-img-box bg-orange">
                        <img src="/frontend/images/vn-2.2.jpg" alt class="ms-auto d-flex">
                        <div class="info-text">
                            <i class="icofont-paw"></i>
                            <h3>Sứ mệnh của chúng tôi</h3>
                            <div>Cung cấp dịch vụ nhanh chóng & dễ dàng</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 wow pulse" data-wow-duration="0" data-wow-delay="0.4s">

                    <div class="gdr-img-box bg-blue">
                        <img src="/frontend/images/vn-3.3.jpg" alt class="ms-auto d-flex">
                        <div class="info-text">
                            <i class="icofont-paw"></i>
                            <h3>Nhận nuôi bất kỳ ai</h3>
                            <div>Tham gia câu lạc bộ của chúng tôi để giúp đỡ họ
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 mx-auto text-center txt-white">
                        <p>PestHund chăm sóc thú cưng pest không chỉ là một nhiệm vụ, mà còn là một trải nghiệm sâu sắc và đầy ý nghĩa trong cuộc sống hàng ngày của chúng ta. Việc nuôi thú cưng không chỉ mang lại niềm vui và sự đồng cảm mà PestHund chăm sóc thú cưng pest còn đặt ra nhiều trách nhiệm.</p>
                        <div class="text-center mt-4">
                            <a th:href="@{${'/views/contact'}}" href="#" class="btn-theme bg-orange capusle bordered me-4"><span class="txt-white">Liên hệ chúng tôi</span></a>
                            (+84) 0989-089-089
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="wide-tb-150" style="padding-bottom: 0">
        <div class="container">
            <h1 class="heading-main center wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                <small>Những gì chúng tôi cung cấp cho bạn <i class="pethund_repeat_grid"></i></small>
                <span>Dịch vụ cung cấp của  </span> chúng tôi
            </h1>
            <div class="row">

                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_petsitting"></i>
                        </div>
                        <div class="text">
                            <h3>Con thú nuôi đang ngồi</h3>
                            <p>Aliquam là một loại thuốc giảm đau. Trong sự phân giải của nó, tăng cường fermentum, và pellentesque làm cho leo. Maecenas ở cung đường cong. </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_pet_grooming"></i>
                        </div>
                        <div class="text">
                            <h3>Chăm sóc thú cưng</h3>
                            <p>Aliquam là một loại thuốc giảm đau. Trong sự phân giải của nó, fermentum tăng lên, và pellentesque làm cho leo. Maecenas ở đường cong. </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_adoption"></i>
                        </div>
                        <div class="text">
                            <h3>Nhận nuôi thú cưng</h3>
                            <p>Aliquam là một loại thuốc giảm đau. Trong sự phân giải, fermentum tăng lên, và pellentesque làm cho leo. Maecenas ở đường cong. </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_natural_product"></i>
                        </div>
                        <div class="text">
                            <h3>Sản phẩm tự nhiên</h3>
                            <p>Giới thiệu thuốc tự nhiên cho thú cưng của bạn. Chăm sóc an toàn, hiệu quả từ thiên nhiên để thú cưng luôn khỏe mạnh và hạnh phúc. </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_vaccinated"></i>
                        </div>
                        <div class="text">
                            <h3>Tiêm phòng cho thú cưng</h3>
                            <p>Tiêm phòng cho thú cưng của bạn. Bảo vệ sức khỏe, an toàn và hiệu quả từ các giải pháp tiên tiến. </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-6">
                    <div class="icon-box-1 d-flex">
                        <div class="icon-font">
                            <i class="pethund_pet_food"></i>
                        </div>
                        <div class="text">
                            <h3>Thức ăn cho thú cưng</h3>
                            <p>Dinh dưỡng tốt, nguồn gốc tự nhiên giúp thú cưng luôn khỏe mạnh. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wide-tb-100">
        <div class="container">
            <h1 class="heading-main center wow fadeInDown" data-wow-duration="0" data-wow-delay="0s">
                <small>Đội ngũ nhân viên hoàn hảo của chúng tôi <i class="pethund_repeat_grid"></i></small>
                <span>Gặp chúng tôi</span> về thức ăn thú cưng
            </h1>
            <div class="owl-carousel owl-theme" id="team-slider-about">

                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/vn_1.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="#">Sumiho Pet Boutique</a></h4>
                            <div><strong>Chăm sóc răng miệng, Hỗ trợ tiêu hóa</strong></div>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/vn_2.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="#">Bone Appétit By Sumiho</a></h4>
                            <div><strong>Chăm sóc mắt, Chăm sóc tóc và da</strong></div>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/vn_3.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="#">Thức Ăn Chó GRAND MAGIC</a></h4>
                            <div><strong>Dinh dưỡng và cân bằng protein</strong></div>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/vn_4.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="#">Chew Dog Bổ Sung Thịt</a></h4>
                            <div><strong>Thành phần này có thể xem như dưỡng chất</strong></div>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/vn_5.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="#">Hạt thức ăn cho chó Makka</a></h4>
                            <div><strong>Chứa sự kết hợp của Omega 3-6-9</strong></div>
                        </div>
                    </div>
                </div>


                <div class="item">
                    <div class="team-section-wrap">
                        <div class="img">
                            <div class="social-icons">
                                <a href="#"><i data-feather="twitter"></i></a>
                                <a href="#"><i data-feather="facebook"></i></a>
                                <a href="#"><i data-feather="instagram"></i></a>
                            </div>
                            <img src="/frontend/images/vn_6.jpg" alt>
                        </div>
                        <div class="team-name">
                            <h4><a href="team-single.html">Thức Ăn Hạt Chó PETVIE</a></h4>
                            <div><strong>Kết hợp với nguyên liệu sạch 100%</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wide-tb-150 bg-snow pos-rel bg-navy-blue">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 wow fadeInDown" data-wow-duration="0" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInDown;">
                    <h1 class="heading-main center light-mode wow fadeInDown" data-wow-duration="0" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInDown;">
                        <small>Chúng tôi sẽ mang tới sản phẩm tốt nhất cho bạn bởi các đội ngủ chuyên gia <i class="pethund_repeat_grid"></i></small>
                        <span> Đội ngũ chuyên gia <strong style="color: white">của chúng tôi</strong></span>
                    </h1>
                </div>

            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="testimonial-rounded">
                        <div class="owl-carousel owl-theme owl-loaded owl-drag" id="testimonial-rounded">

                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1024px, 0px, 0px); transition: all 0s ease 0s; width: 3584px;"><div class="owl-item cloned" style="width: 482px; margin-right: 30px;"><div class="item">
                                <div class="client-testimonial">
                                    <div class="quote-icon">
                                        <i class="pethund_quotes"></i>
                                    </div>
                                    <p>PetHund sẽ giúp thú cưng của bạn tránh tăng cân, thức ăn ướt chứa ít calo hơn thức ăn khô, có thể giúp thú cưng của bạn duy trì cân nặng khỏe mạnh.</p>
                                    <div class="client-testimonial-icon justify-content-center d-flex align-items-center">
                                        <img src="https://my.hibariclinic.com/wp-content/themes/hibariclinic/images/img-doctor-vivien.jpg" alt="" class="rounded-circle">
                                        <h3>Bác Sĩ Thú Y - Guo Fei <span>Lĩnh vực tư vấn dinh dưỡng</span></h3>
                                    </div>
                                </div>
                            </div></div><div class="owl-item cloned" style="width: 482px; margin-right: 30px;"><div class="item">
                                <div class="client-testimonial">
                                    <div class="quote-icon">
                                        <i class="pethund_quotes"></i>
                                    </div>
                                    <p>PetHund: bác sĩ khuyên đưa thú cưng của bạn tới gặp bác sĩ thú y để kiểm tra sức khỏe định kỳ, tiêm phòng,
                                        tẩy giun sán và phòng ngừa kí sinh trùng tránh có hành vi bất thường và các dấu hiệu bị bệnh.</p>

                                    <div class="client-testimonial-icon justify-content-center d-flex align-items-center">
                                        <img src="https://rafflesmedical.vn/wp-content/uploads/2019/08/14.png" alt="" class="rounded-circle">
                                        <h3>Bác Sĩ - Jeonbuk<span>lĩnh vực sức khỏe</span></h3>
                                    </div>
                                </div>
                            </div></div><div class="owl-item active" style="width: 482px; margin-right: 30px;"><div class="item">
                                <div class="client-testimonial">
                                    <div class="quote-icon">
                                        <i class="pethund_quotes"></i>
                                    </div>
                                    <p>PetHund có đội ngũ bác sĩ phẫu thuật trong lĩnh vực cho các bé thứ cưng, với trình độ chuyên môn cao giàu kinh nghiệm </p>

                                    <div class="client-testimonial-icon justify-content-center d-flex align-items-center">
                                        <img src="https://afamilycdn.com/2019/7/9/bac-si-10-1562660210141493717830.jpg" alt="" class="rounded-circle">
                                        <h3> Bác Sĩ Thú Y - Paul <span>Lĩnh vực sức khoẻ & phẫu thuật</span></h3>
                                    </div>
                                </div>
                            </div></div><div class="owl-item" style="width: 482px; margin-right: 30px;"><div class="item">
                                <div class="client-testimonial">
                                    <div class="quote-icon">
                                        <i class="pethund_quotes"></i>
                                    </div>
                                    <p>Với PestHund “Healing From The Heart” tôi và đội ngũ bác sĩ tư vấn sẽ tư vấn chăm sóc thú cưng của bạn tận tâm với tất cả trái tim mình.</p>

                                    <div class="client-testimonial-icon justify-content-center d-flex align-items-center">
                                        <img src="https://keystonecareer.com/wp-content/uploads/2021/05/keystone-career-specialist-doctor-subang-jaya-2-782x1024.jpg" alt="" class="rounded-circle">
                                        <h3>Bác Sĩ Thú Y - Dr.Kim Jungnam <span>Lĩnh vực tư vấn & chăm sóc</span></h3>
                                    </div>
                                </div>




                            </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="icofont-simple-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="icofont-simple-right"></i></button></div><div class="owl-dots disabled"></div></div>
                    </div>
                </div>
                <div class="col-md-6 order-md-first wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;">
                    <img src="/frontend/images/logo_14896749.png" alt="">
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="layout/call_us :: call_us"></div>
<footer th:replace="layout/footer :: footer"></footer>

<div class="overlay overlay-hugeinc">
    <form class="form-inline mt-2 mt-md-0">
        <div class="form-inner">
            <div class="form-inner-div d-inline-flex align-items-center g-0">
                <div class="col-md-1">
                    <i class="icofont-search"></i>
                </div>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-1">
                    <a href="#" class="overlay-close link-oragne"><i class="icofont-close-line"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>


<a id="mkdf-back-to-top" href="#" class="off"><i class="icofont-rounded-up"></i></a>


<div th:replace="layout/script :: script"></div>

</body>

</html>