<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/login/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Login</title>
</head>

<body>

<div class="container" id="container">
    <div class="form-container sign-up">
        <form form th:action="@{/authentication}" method="post">
            <h1>Create Account</h1>
            <div class="social-icons">
                <a href="#" class="icon" ><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registeration</span>

            <input type="text" id="fullness" placeholder="fullness" name="fullness">
            <input type="text" id="username" placeholder="username" name="username">
            <input type="text" placeholder="Email" name="pass">
            <input type="password" id="password"placeholder="Password">
            <input  type="submit" id="dk" value="Sign Up" style="cursor: pointer;color: white; background-color: #512da8">
        </form>
    </div>
    <div class="form-container sign-in">
        <form th:action="@{/authentication}" method="post">
            <h1>Sign In</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <span>or use your email password</span>
            <input type="text" placeholder="Email" name="username">
            <input type="password"  placeholder="Password" name="password">
            <span style="color:red" id="message"></span>
            <a href="#">Forget Your Password?</a>
            <input id="btnLogin" type="submit" value="Sign In" style="cursor: pointer;color: white; background-color: #512da8">
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<!--<script src="/login/script.js"></script>-->
</body>
<script>
    $(document).ready(function() {
        // Lấy giá trị của biến login_status từ URL
        var loginStatus = getParameterByName('login_status');

        // Kiểm tra nếu biến login_status có giá trị là 1
        if (loginStatus == 1) {
            $('#message').text("Thông tin đăng nhập không chính xác");
        }

    });
    $("#dk").click(function(){
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/users/add",
            contentType: "application/json",
            data: JSON.stringify({
                "fullName":  "",
                "username":  $("#username").val(),
                "password": $("#password").val(),
                "roleDTOS": [1 , 2]
            }),

            dataType: "json",
            success: function (response) {
                console.log(response)
            },
            error: function (error) {
                console.log(error);
            }
        });

    });


    // Hàm để lấy giá trị của một tham số từ URL
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
</script>
</html>