<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/login/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/frontend/images/favicon.ico}">
</head>
<body>
<div class="container" id="container">
    <div  class="form-container sign-up">
        <form id="myForm"   method="post">
            <h1>Tạo Tài Khoản</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <input id="userName" type="text" placeholder="Tài Khoản" name="account" >
            <input id="fullname" type="text" placeholder="Họ và Tên" name="account name">
            <input id="email" type="email" placeholder="Email" name="email">
            <input id="password" type="password"  placeholder="Mật Khẩu" name="password">
            <span id="errorMessage" style="display:none;color:red;"></span>
            <input id="submit" class="knot" type="button" value="Đăng Ký" style="cursor: pointer;color: white; background-color: #512da8; border-radius: 22px;">
        </form>
    </div>
    <div class="form-container sign-in">
        <form th:action="@{/authentication}" method="post">
            <h1>Đăng Nhập</h1>
            <div class="social-icons">
                <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <input type="text" placeholder="Tài Khoản" name="username">
            <input type="password"  placeholder="Mật Khẩu" name="password">
            <span style="color:red" id="message"></span>
            <a href="#">Quên mật khẩu?</a>
            <input  type="submit" value="Đăng Nhập" style="cursor: pointer;color: white; background-color: #512da8; border-radius: 22px;">
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Chào Mừng Trở Lại!</h1>
                <p>Nhập thông tin Cá nhân của bạn để sử dụng tất cả các tính năng của trang PestHund</p>
                <button class="hidden" id="login">Đăng Nhập</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Chào Bạn!</h1>
                <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang PestHund</p>
                <button class="hidden" id="register">Đăng Ký</button>
            </div>
        </div>
    </div>
</div>

<script src="/login/script.js"></script>
</body>
<script>
    ///validate thông báo đăng ký tài khoản

        $("#myForm").submit(function(event) {
            let fullName = $("#fullname").val();
            let username = $("#userName").val();
            let password = $("#password").val();
            let email = $("#email").val();
            if (fullName.trim() === '' || username.trim() === '' || password.trim() === '' || email.trim() === '') {
                $("#errorMessage").text("Đăng ký không thành công. Vui lòng thử lại sau."); // Đặt thông báo lỗi
                $("#errorMessage").show(); // Hiển thị thông báo lỗi
                event.preventDefault(); // Ngăn chặn việc gửi biểu mẫu nếu có trường không được điền
            } else {
                $("#errorMessage").hide(); // Ẩn thông báo lỗi nếu mọi thứ đều hợp lệ
            }
        });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

   // đăng ký tài khoản !
    $("#submit").click(function (event) {
        // Lấy thông tin từ các input
        let fullName = $("#fullname").val().trim();
        let username = $("#userName").val().trim();
        let password = $("#password").val().trim();
        let email = $("#email").val().trim();

        // Kiểm tra thông tin đã được điền đầy đủ chưa
        if (fullName === '' || username === '' || password === '' || email === '') {
            $("#errorMessage").text("Đăng ký không thành công. Vui lòng điền đầy đủ thông tin.");
            $("#errorMessage").show();
            return false;
        } else {
            $("#errorMessage").hide();
        }

        // Gửi request POST đến server
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/account/addUser",
            contentType: "application/json",
            data: JSON.stringify({
                "fullName": fullName,
                "username": username,
                "password": password,
                "email": email
            }),
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response.code === 200) {
                    $("#errorMessage").text("Đăng ký thành công.");
                    $("#errorMessage").removeClass("alert-danger").addClass("alert-success");

                    $("#errorMessage").show();

                }
                if (response.code === 400){
                    $("#errorMessage").text("Tên người dùng đã tồn tại trong hệ thống.");
                    $("#errorMessage").show();
                }
            },
            error: function (error) {
                console.log(error);
                // Kiểm tra thông báo lỗi từ server
                    $("#errorMessage").text("Tên người dùng đã tồn tại trong hệ thống.");
                $("#errorMessage").show();
            }
        });
    });

    // thông báo đăng nhập sai
    $(document).ready(function() {
        // Lấy giá trị của biến login_status từ URL
        let loginStatus = getParameterByName("login_status");
            console.log(loginStatus);
        // Kiểm tra nếu biến login_status có giá trị là 1
        if (parseInt(loginStatus) === 1) {
            console.log(loginStatus);
            $('#message').text("Thông tin đăng nhập không chính xác");
        }
    });
</script>
</html>