<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head"></head>
<body>

<div id="pageloader">
    <div class="loader-item">
        <div class="loader-item-content">
            <i class="icofont-paw"></i>
        </div>
    </div>
</div>

<b class="screen-overlay"></b>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/banner :: banner"></div>

<main id="body-content">
    <section class="wide-tb-100 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mb-0">
                    <div class="checkout-details">
                        <h2 class="fw-7 txt-blue">Thông tin đặt hàng</h2>
                        <div class="row">
                            <div class="col-md-12 mb-0">
                                <div class="mb-3">
                                    <label for="fullName"><strong>Họ và tên</strong></label>
                                    <input type="text" name="fullName" id="fullName" class="form-control"
                                           placeholder="Ví dụ : Nguyễn Văn A">
                                </div>
                            </div>
                            <div class="col-md-12 mb-0">
                                <div class="mb-3">
                                    <label id="addressLabel" for="address"><strong>Địa chỉ</strong> <span
                                            class="text-danger">*</span><span id="errAddress"></span></label>
                                    <input type="text" name="address" id="address" class="form-control"
                                           placeholder="Ví dụ : Số nhà, ngõ, tên đường, ...">
                                </div>
                            </div>
                            <div class="col-md-12 mb-0">
                                <div class="mb-3">
                                    <label for="phoneNumber"><strong>Số điện thoại</strong> <span
                                            class="text-danger">*</span><span id="errPhone"></span></label>
                                    <input type="text" name="phoneNumber" id="phoneNumber" class="form-control"
                                           placeholder="Ví dụ : 098 123 ****">
                                </div>
                            </div>
                            <div class="col-md-12 mb-0">
                                <p style="color: #98cb46">Dữ liệu cá nhân của bạn sẽ được sử dụng để xử lý đơn đặt hàng,
                                    hỗ trợ trải nghiệm của
                                    bạn trên trang web này và cho các mục đích khác được mô tả trong phần của chúng
                                    tôi.</p>
                            </div>
                            <div class="col-md-12 mb-0">
                                <span class="txt-orange">Thông tin khác</span>
                            </div>
                            <div class="col-md-12 mb-0">
                                <div class>
                                    <label for="notes"><strong>Ghi chú</strong></label>
                                    <textarea name="notes" id="notes" class="form-control" rows="6"
                                              placeholder="Ghi chú cho người vận chuyển"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="place-order-wrap">
                        <h2 class="fw-7 txt-blue">Đơn hàng của bạn</h2>
                        <div class="order-list">
                            <ul class="list-unstyled">
                                <div id="productItem"></div>
                                <li>
                                    <span>Tổng</span>
                                    <span class="totalAmount txt-green"></span>
                                </li>
                                <li>
                                    <div class="col">
                                        <input type="text" class="form-control" name="coupon"
                                               placeholder="Mã giảm giá">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn-theme bg-green btn-shadow ms-4 h-100" type="submit">Áp
                                            dụng
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <span>Thành tiền ( Đơn vị : VNĐ )</span>
                                    <span class="totalAmount text-danger"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="order-disclaimer">
                            <span>Phương thức thanh toán</span>
                            <div class="info">
                                <input checked type="radio"/> VnPay
                            </div>
                            <div class="text-right">
                                <button type="button" id="payment" class="btn-theme bg-green mt-3">Thanh Toán</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<div th:replace="layout/call_us :: call_us"></div>
<footer th:replace="layout/footer :: footer"></footer>

<div class="overlay overlay-hugeinc">
    <form class="form-inline mt-2 mt-md-0">
        <div class="form-inner">
            <div class="form-inner-div d-inline-flex align-items-center g-0">
                <div class="col-md-1">
                    <i class="icofont-search"></i>
                </div>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-1">
                    <a href="#" class="overlay-close link-oragne"><i class="icofont-close-line"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>


<a id="mkdf-back-to-top" href="#" class="off"><i class="icofont-rounded-up"></i></a>
<div th:replace="layout/script :: script"></div>

<script>
    showOrder();

    validateForm();

    function validateForm() {
        $('#payment').click(function () {
            let address = $('input[type=text][name=address]').val().trim();
            let phoneNumber = $('input[type=text][name=phoneNumber]').val().trim();
            if (address === "") {
                $('#errAddress').html('Hãy nhập vào địa chỉ nhận hàng của bạn').addClass('text-danger');
            }else $('#errAddress').html('');

            if (phoneNumber === "") {
                $('#errPhone').html('Hãy nhập vào số điện thoại nhận hàng của bạn').addClass('text-danger');
            }else $('#errPhone').html('');

            let objectData = {};
            objectData.code = $(this).data('code')
            objectData.addressShipping = address;
            objectData.phoneShipping = phoneNumber;
            console.log(objectData);

            if(address !== "" && phoneNumber !== ""){
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/api/order/update",
                    contentType: "application/json",
                    data: JSON.stringify(objectData),
                    dataType: "json",
                    success: function (response) {
                        payment();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        });
    }

    function payment(){
       let objectData = {
            code : getCode()
        }
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/payment/vnpay",
            contentType: "application/json",
            data: JSON.stringify(objectData),
            dataType: "json",
            success: function (response) {
                window.location.href = response.data;
            },
            error: function (error) {
                console.log(error);
            }
        })
    }
    function showOrder() {
        let orderCode = getCode();
        let objData = {
            code: orderCode
        }
        console.log(orderCode);
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/order/d",
            contentType: "application/json",
            data: JSON.stringify(objData),
            dataType: "json",
            success: function (response) {
                let productItemHtml = '';
                let detail = response.data.orderDetails;
                for (let i = 0; i < detail.length; i++) {
                    productItemHtml += '<li>' +
                        '<span>' + detail[i].productName + '( ' + detail[i].sizeName + ' ) x ' + detail[i].quantity + '</span>' +
                        '<span class="">' + formatPrice(detail[i].total) + '</span>' +
                        '</li>';
                }
                $('#productItem').html(productItemHtml);
                $('.totalAmount').html(formatPrice(response.data.totalAmount))

                $('#payment').data("code", response.data.code);
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        })

    }
</script>
</body>

</html>