<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/head :: head"></head>
<body>

<div id="pageloader">
    <div class="loader-item">
        <div class="loader-item-content">
            <i class="icofont-paw"></i>
        </div>
    </div>
</div>

<b class="screen-overlay"></b>
<div th:replace="layout/header :: header"></div>
<div th:replace="layout/banner :: banner"></div>

<main id="body-content">
    <section class="wide-tb-100 pb-0">
        <div class="container">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark theme-head">
                    <tr>
                        <th scope="col"><input id="proCheckAll" checked type="checkbox"/> <span style="color: white">Tất cả</span>
                        </th>
                        <th scope="col"><span style="color: white">Sản phẩm</span></th>
                        <th scope="col"><span style="color: white">Đơn giá / Kg</span></th>
                        <th scope="col"><span style="color: white">Size</span></th>
                        <th scope="col"><span style="color: white">Số lượng</span></th>
                        <th scope="col"><span style="color: white">Tổng</span></th>
                    </tr>
                    </thead>
                    <tbody class="theme-body" id="bodyCart">
                    </tbody>
                </table>
            </div>
            <div class="row mt-5 justify-content-md-end">
                <div class="col-lg-4 col-md-6">
                    <div class="cart-totals">
                        <div class="px-4">
                            <div class="order-head">
                                <span>Thanh toán ( Đơn vị : VNĐ )</span>
                            </div>
                        </div>
                        <div class="order-list">
                            <ul class="list-unstyled">
                                <li>
                                    <span>Giá trị đơn hàng</span>
                                    <span class="subtotal"></span>
                                </li>
                                <li>
                                    <span>Vận chuyển</span>
                                    <span class="txt-green">Miễn phí vận chuyển</span>
                                </li>
                                <li>
                                    <span>Thành tiền</span>
                                    <span class="subtotal text-danger"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="px-4">
                            <button class="btn-theme bg-orange btn-shadow" id="checkoutCart">Tiến hành thanh toán
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<div th:replace="layout/call_us :: call_us"></div>
<footer th:replace="layout/footer :: footer"></footer>

<div class="overlay overlay-hugeinc">
    <form class="form-inline mt-2 mt-md-0">
        <div class="form-inner">
            <div class="form-inner-div d-inline-flex align-items-center g-0">
                <div class="col-md-1">
                    <i class="icofont-search"></i>
                </div>
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-1">
                    <a href="#" class="overlay-close link-oragne"><i class="icofont-close-line"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>


<a id="mkdf-back-to-top" href="#" class="off"><i class="icofont-rounded-up"></i></a>


<div th:replace="layout/script :: script"></div>

<script>
    initShopCart();
    checkoutCart();
    checkForAll();

    function initShopCart() {
        let page = 0;
        let size = 100;
        let objFilter = {};
        getProductShopCart(page, size, objFilter);
    }

    function getProductShopCart(page, size, objectFilter) {
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/api/cart?page=" + page + "&size=" + size,
            contentType: "application/json",
            data: JSON.stringify(objectFilter),
            dataType: "json",
            success: function (response) {
                if (response.data != null) {
                    let cartData = response.data.content;
                    let cartHtml = '';
                    let subTotal = 0;
                    for (let i = 0; i < cartData.length; i++) {
                        let cartItem = cartData[i];
                        subTotal += cartItem.totalOneP;
                        cartHtml += '<tr>' +
                            '<th scope="row">' +
                            '<input id="proCheckbox" data-quantity="' + cartItem.quantity + '" data-cart="' + cartItem.id + '"  data-size="' + cartItem.sizeId + '" data-pro="' + cartItem.productId + '" checked type="checkbox" name="proChoose" value="' + cartItem.totalOneP + '"/>' +
                            '</th>' +
                            '<td>' +
                            ' <div class="item-product">' +
                            '<span class="img-wrap"><img src="' + cartItem.imgProduct + '" alt></span>' +
                            '<span>' + cartItem.productName + '</span>' +
                            '</div>' +
                            '</td>' +
                            '<td><strong class="txt-blue">' + formatPrice(cartItem.productPrice) + '</strong></td>' +
                            '<td><strong class="txt-blue">' + cartItem.sizeName + ' ' + cartItem.weightSize + 'kg</strong></td>' +
                            '<td>' +
                            '<div class="quantity">' +
                            '<button class="minus-btn" name="qtt-' + cartItem.id + '" onclick="minusQuantity(this.name,this.value)" type="button"  value="' + cartItem.quantity + '">' +
                            '<i data-feather="minus" style="width: 200%">-</i>' +
                            '</button>' +
                            '<input type="text" name="qtt-' + cartItem.id + '" onchange="changeQuantity(this.name,this.value)" value="' + cartItem.quantity + '">' +
                            '<button class="plus-btn" name="qtt-' + cartItem.id + '" onclick="plusQuantity(this.name,this.value)" type="button"  value="' + cartItem.quantity + '">' +
                            '<i data-feather="plus" style="width: 200%">+</i>' +
                            '</button>' +
                            '</div>' +
                            '</td>' +
                            '<td><strong class="txt-orange">' + formatPrice(cartItem.totalOneP) + '</strong></td>' +
                            '</tr>';
                    }
                    $('.subtotal').html(formatPrice(subTotal)).attr("data-value", subTotal);
                    $('#bodyCart').html(cartHtml);
                    checkboxCart();
                } else window.location.href = "http://localhost:8080/login"
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function checkboxCart() {
        $('input[name="proChoose"]').change(function () {
            let checkboxChecked = $('input[type="checkbox"][name="proChoose"]:checked');
            let checkboxes = $('input[type="checkbox"][name="proChoose"]');
            if (checkboxChecked.length === checkboxes.length) {
                $('#proCheckAll').prop('checked', true);
            } else $('#proCheckAll').prop('checked', false);
            checkboxProp(checkboxChecked, true);
        });
    }

    function checkForAll() {
        $('#proCheckAll').click(function () {
            if ($(this).is(':checked')) {
                let checkboxes = $('input[type="checkbox"][name="proChoose"]');
                if (checkboxes.length > 0) {
                    checkboxes.each(function () {
                        $(this).prop('checked', true);
                    });
                }
                let checkboxChecked = $('input[type="checkbox"][name="proChoose"]:checked');
                checkboxProp(checkboxChecked, true);
            } else {
                let checkboxes = $('input[type="checkbox"][name="proChoose"]:checked');
                checkboxProp(checkboxes, false);
            }
        });
    }

    function checkboxProp(checkboxes, checked) {
        let total = 0;
        if (checkboxes.length > 0) {
            checkboxes.each(function () {
                $(this).prop('checked', checked);
                if (checked) {
                    total += parseInt($(this).val());
                }
            });
        }
        $('.subtotal').html(formatPrice(total)).attr("data-value", total);
    }

    function checkoutCart() {
        $('#checkoutCart').click(function () {
            let checkboxChecked = $('input[type="checkbox"][name="proChoose"]:checked');

            if (checkboxChecked.length > 0) {
                console.log(checkboxChecked.length);
                let arrDetail = [];
                let totalAmount = 0;
                let arrCart = [];
                checkboxChecked.each(function () {
                    let detail = {};
                    let cart = {};
                    cart.id = $(this).data('cart');
                    detail.productId = $(this).data('pro');
                    detail.sizeId = $(this).data('size');
                    detail.quantity = $(this).data('quantity');
                    detail.total = $(this).val()
                    arrDetail.push(detail);
                    arrCart.push(cart)
                    totalAmount += parseInt($(this).val());
                });

                console.log(arrDetail, totalAmount, arrCart);

                let objectFilter = {
                    totalAmount: totalAmount,
                    orderDetail: arrDetail
                }
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/api/order/create",
                    contentType: "application/json",
                    data: JSON.stringify(objectFilter),
                    dataType: "json",
                    success: function (response) {
                        detailOrder(response.data, arrDetail);
                        deleteCart(arrCart);
                        window.location.href = "http://localhost:8080/views/order/place-order/" + response.data.code
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            } else alert("Cần chọn ít nhất 1 sản phẩm để thanh toán")
        })

        function detailOrder(order, data) {
            for (let i = 0; i < data.length; i++) {
                data[i].orderId = order.id;
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/api/order/detail/create",
                    contentType: "application/json",
                    data: JSON.stringify(data[i]),
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }

        }

        function deleteCart(data) {
            for (let i = 0; i < data.length; i++) {
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/api/cart/delete-cart",
                    contentType: "application/json",
                    data: JSON.stringify(data[i]),
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        }
    }
</script>
</body>
</html>