<div th:fragment="call_us">
    <div class="container footer-top-callout">
        <div class="row">
            <div class="col-sm-12">
                <div class="callout-style-side-img d-lg-flex align-items-center">
                    <div class="img-callout">
                        <img src="/frontend/images/callout_side_img.jpg" alt>
                    </div>
                    <div class="text-callout">
                        <div class="d-md-flex align-items-center">
                            <div class="icon">
                                <i data-feather="headphones"></i>
                            </div>
                            <div class="heading">
                                <h3>Bạn có câu hỏi ? Gọi cho chúng tôi <span class="txt-green">(+84) 0123-456-789</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>