<div th:fragment="header">
    <header class="wow fadeInDown header-blue header-top header-anim">
        <div class="top-bar-right d-flex align-items-center text-md-left">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col d-flex align-items-center contact-info">
                        <div>
                            <i data-feather="map-pin"></i> 128a Đ. Hồ Tùng Mậu - Mai Dịch - Cầu Giấy - Hà Nội
                        </div>
                        <div>
                            <i data-feather="smartphone"></i> <a href="tel:(123)456789">(+84) 0123-456-789</a>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <div class="social-icons">
                            <span>Mạng xã hội</span>
                            <a href="#"><i data-feather="facebook"></i></a>
                            <a href="#"><i data-feather="twitter"></i></a>
                            <a href="#"><i data-feather="instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg header-fullpage nav-light">
            <div class="container text-nowrap">
                <div class="d-flex align-items-center w-100 col p-0 logo-brand">
                    <a class="navbar-brand rounded-bottom light-bg" th:href="@{${'/views/home'}}">
                        <img src="/frontend/images/logo_white.svg" alt>
                    </a>
                </div>

                <div class="d-inline-flex order-lg-last col-auto p-0 align-items-center">
                    <div id="logCheck">

                    </div>

                    <a class="" th:href="@{${'/views/cart'}}" id="shopping-bag"><i
                            data-feather="shopping-bag"></i> <span class="badge badge-success"></span></a>

                    <button class="navbar-toggler x collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="navbar-collapse">

                    <div class="offcanvas-header">
                        <a th:href="@{${'/views/home'}}" class="logo-small">
                            <img src="/frontend/images/logo_white.svg" alt>
                        </a>
                    </div>

                    <div class="offcanvas-body">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link" th:href="@{${'/views/home'}}">Trang chủ</a>
                            </li>
                            <li class="nav-item dropdown megamenu">
                                <a href="#" class="nav-link dropdown-toggle-mob" id="dropdown04"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages <i
                                        class="icofont-thin-down"></i></a>
                                <div class="menu-back-div dropdown-menu megamenu-content" role="menu"
                                     aria-labelledby="dropdown04">
                                    <div class="megamenu-content-wrap">
                                        <ul class="list-unstyled">
                                            <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                            <li><a class="dropdown-item" href="our-team.html">Our Team</a></li>
                                            <li><a class="dropdown-item" href="team-single.html">Team Single</a></li>
                                            <li><a class="dropdown-item" href="our-faqs.html">Our Faq's</a></li>
                                            <li><a class="dropdown-item" href="404.html">Error 404</a></li>
                                        </ul>
                                        <ul class="list-unstyled">
                                            <li><a class="dropdown-item" href="our-services.html">Services</a></li>
                                            <li><a class="dropdown-item" href="services-single.html">Services Single</a>
                                            </li>
                                            <li><a class="dropdown-item" href="shortcodes-element.html">Elements Page
                                                1</a></li>
                                            <li><a class="dropdown-item" href="shortcodes-element-alt.html">Elements
                                                Page 2</a></li>
                                            <li><a class="dropdown-item" href="typography.html">Typography</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle-mob" href="index.html" data-bs-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Gallery <i class="icofont-thin-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="gallery-2-col.html">Galley 2 Col</a></li>
                                    <li><a class="dropdown-item" href="gallery-3-col.html">Galley 3 Col</a></li>
                                    <li><a class="dropdown-item" href="gallery-4-col.html">Galley 4 Col</a></li>
                                    <li><a class="dropdown-item" href="gallery-single.html">Galley Single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle-mob" href="index.html" id="blog-menu"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i
                                        class="icofont-thin-down"></i></a>
                                <ul class="dropdown-menu" aria-labelledby="blog-menu">
                                    <li><a class="dropdown-item" href="blog-classic.html">Blog Classic</a></li>
                                    <li><a class="dropdown-item" href="blog-modern.html">Blog Modern</a></li>
                                    <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
                                    <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" th:href="@{${'/views/product'}}">Sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact-us.html">Liên Hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="close-nav"></div>
                </div>
            </div>
        </nav>
    </header>
</div>
