<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/fragments/head :: head"></div>

<body>
<!-- ======= Header ======= -->
<div th:replace="admin/fragments/header :: header"></div>

<!-- ======= Sidebar ======= -->
<div th:replace="admin/fragments/aside :: aside"></div>

<main id="main" class="main">
<!--Chứa table -->
    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách Comment </h5>

                        <!-- Table thông tin muốn hiển thị -->
                        <table class="table" id="tableDate">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Username</th>
                                <th scope="col">Tên Sản Phẩm</th>
                                <th scope="col">Comment</th>

                                <th scope="col">Cập Nhật</th>
                                <th scope="col">Xóa</th>
                            </tr>
                            </thead>
                            <tbody >

                            </tbody>
                        </table>
                        <nav aria-label="...">
                            <ul class="pagination" id="pageId" style="float: right;">
                                <!--            <li class="page-item">-->
                                <!--                <a class="page-link" href="#">1</a></li>-->
                                <!--            <li class="page-item active">-->
                                <!--                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
                                <!--            </li>-->
                                <!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--chứa modal uodate -->
    <div class="modal" id="myModal" >
        <div class="modal-dialog" style="display: table;">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <span  class="badge bg-danger" >Cập Nhật</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" >
                    <div class="your-new-wrapper">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Username</th>
                                <th scope="col">Tên sản Phẩm</th>
                                <th scope="col">Comment</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td id="id"></td>
                                <td id="CommentName"><input type="text" id="username" readonly ></td>
                                <td id="CommentCode"><input type="text" id="name" readonly></td>
                                <td id="CommentConten"><input type="text" id="conten"></td>

                            </tr>
                            <!-- Add more rows as needed -->
                            </tbody>
                        </table>
<!--                        <nav aria-label="...">-->
<!--                            <ul class="pagination" id="pageId" style="float: right;">-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link" href="#">1</a></li>-->
<!--                                            <li class="page-item active">-->
<!--                                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>-->
<!--                                            </li>-->
<!--                                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                            </ul>-->
<!--                        </nav>-->
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="buttonApply" >Apply</button>
                </div>
            </div>
        </div>
    </div>



    <!--chứa modal thêm -->
    <div class="modal" id="myModal1" >
        <div class="modal-dialog" style="display: table;">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">

                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="buttonApply1" >Apply</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End Table with stripped rows -->



</main><!-- End #main -->

<div th:replace="admin/fragments/footer :: footer"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div th:replace="admin/fragments/script :: script"></div>


 <script>
     $(document).ready(function (){
         initData();
     })
// gọi tới hàm load và phân trang
     function initData(){
         let page=0;
         let size=5;
         let objFilter = {
             name:null
         };
         getCommentAdmin(page,size,objFilter);
     }
     function getCommentAdmin(page,size,objectFilter){
         $.ajax({
             type: "POST",
             url: "http://localhost:8080/api/comments?page=" + page + "&size=" + size,
             contentType: "application/json",
             // data: JSON.stringify({
             // }),
             data: JSON.stringify(objectFilter),
             dataType: "json",
             success: function (response) {
                 let dataComment = response?.data?.content;
                let commentC = '';
                 for (let i = 0; i < dataComment.length; i++) {
                     console.log(dataComment[i]);
                     commentC += '<tr>' +
                         '<td data-id="' + dataComment[i].id + '">' + (i + 1) + '</td>' +
                         '<td data-full="' + dataComment[i].username + '">' + dataComment[i].username + '</td>' +
                         '<td data-user="' + dataComment[i].name + '">' + dataComment[i].name + '</td>' +
                         '<td data-user="' + dataComment[i].content + '">' + dataComment[i].content + '</td>' +

                         '<td data-bs-toggle="modal" data-bs-target="#myModal"><i id="iconUpdate" class="fas fa-edit" style="color: #45d25b; cursor: pointer; font-size: 20px;"></i></td>' +
                         '<td><i data-dle="'+dataComment[i].id+'" id="iconFix" class="fas fa-trash-alt" style="text-align: center; color: #ff5959; cursor: pointer; font-size: 18px;"></i></td>' +
                         '</tr>';
                 }
                 $('#tableDate tbody').empty(); //  jQuery được sử dụng để xóa tất cả các phần tử có id là tableDate để ko lặp trang.
                 $('#tableDate').append(commentC);// lấy danh sách gán vào view

                 // Phân trang
                 let totalPage = response.data.totalPages;
                 let currentPage = response.data.pageable.pageNumber;
                 if (totalPage > 0){
                     $("#pageId").empty();
                     let pages = '<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage - 1)+ ',5,event)" href="#">Previous</a></li>';
                     for (let i = 0; i < totalPage; i++) {
                         if (currentPage === i){
                             pages += '            <li class="page-item active">\n' +
                                 '                <a class="page-link " onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                 '            <li class="page-item">'
                         }else {
                             pages += '            <li class="page-item">\n' +
                                 '                <a class="page-link" onclick="changePage(' + i + ',5,event)" href="#">' + (i + 1) + '</a></li>\n' +
                                 '            <li class="page-item">'
                         }

                     }
                     pages +='<li class="page-item"><a class="page-link" onclick="changePage(' + (currentPage + 1) + ',5,event)" href="#">Next</a></li>';
                     $("#pageId").append(pages);
                 }

             },

             error: function (error) {
                 console.log(error);
             }
         });
     };
     // hàm xuwr lý sự kiện
     function changePage(page,size,event){
         event.preventDefault();
         // searchCondition(page,size);
         getCommentAdmin(page, size, {}); // lấy dữ liệu trang mới
     }


     // hàm xóa
         $(document).on('click', '#iconFix', function() {
             var id = $(this).data('dle');
             console.log (id,$(this))
             var $tr = $(this).closest('tr');
             $.ajax({
                 type: "DELETE",
                 url: "http://localhost:8080/api/comments/"  + id ,
                 contentType: "application/json",
                 data: JSON.stringify({
                     id: id
                 }),
                 dataType: "json",
                 success: function(response) {
                     console.log("tài khoản được xóa thành công");
                        $tr.hide();
                 },
                 error: function(error) {
                     console.log("tài khoản xóa không thành công");
                 }
             });

         });
//
//      // hàm cập nhật
     $(document).on('click', '#iconUpdate', function() {
         var id = $(this).closest('tr').find('td:eq(0)').data('id');
         var CommentUserName = $(this).closest('tr').find('td:eq(1)').text();
         var CommentName = $(this).closest('tr').find('td:eq(2)').text();
         var CommentConten = $(this).closest('tr').find('td:eq(3)').text();


         var $tr = $(this).closest('tr');
         var  myModal = $('#myModal').attr('data-id',id);
         myModal.find('#id').text(id);
         myModal.find('#id').val(id);
         $('#username').val(CommentUserName);
         $('#name').val(CommentName);
         $('#conten').val(CommentConten)
     });
     $(document).on('click','#buttonApply',function (e) {
         console.log("lỗi");
         var id = $('#myModal').find('#id').val();
         $.ajax({
             type : "PUT",
             url: "http://localhost:8080/api/comments/" + id,
             contentType: "application/json",
             dataType: "json",
             data: JSON.stringify({
                 id: $('#id').data('id'),
                 username: $('#userName').val(),
                 name: $('#name').val(),
                 content :$("#conten").val(),
             }),
             success: function(response) {
                 console.log(response);
                 console.log(1);
                 location.reload();
             },
             error: function(error) {
                 console.log("lỗi");
             }
         });
     })
// // thêm danh mục
//      $(document).on('click', '#buttonApply1', function() {
//
//          var commentConten = $('#conten1').val();
//
//
//          $.ajax({
//              type: "POST",
//              url: " http://localhost:8080/api/comments/create",
//              contentType: "application/json",
//              dataType: "json",
//              data: JSON.stringify({
//
//                  content: commentConten
//              }),
//              success: function(response) {
//                  console.log("Danh mục đã được thêm thành công");
//                  window.location.reload();
//                  // Xóa nội dung cũ của tbody trong bảng
//                  $('#tableDate tbody').empty();
//                  // Tải lại danh sách danh mục sau khi thêm
//                  getCommentAdmin();
//              },
//              error: function(error) {
//                  console.log("Lỗi khi thêm danh mục");
//              }
//          });
//      });




 </script>
</body>

</html>