<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/fragments/head :: head"></div>
<body>
<!-- ======= Header ======= -->
<div th:replace="admin/fragments/header :: header"></div>

<!-- ======= Sidebar ======= -->
<div th:replace="admin/fragments/aside :: aside"></div>

<main id="main" class="main">
    <!--Chứa table -->
    <div class="pagetitle">
        <h1>Data Product</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Data Product <span type="button" class="badge bg-warning" style="color:#ffffff">+ Thêm</span ></h5>

                        <!-- Table thông tin muốn hiển thị -->
                        <div class="bd-example">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã Sản Phẩm</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Loại Size</th>
                                    <th>Đơn Giá</th>
                                    <th>Danh Mục</th>
                                    <th>Hình Sản Phẩm</th>
                                    <th>Cập Nhật</th>
                                    <th>Xóa</th>
                                </tr>
                                </thead>
                                <tbody id="body-Produc"> </tbody>
                            </table>
                        </div>
                        <!--    thưu mục 1 2 3-->
                        <div class="container mt-3" style="display: ruby-text;">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--chứa modal uodate -->
    <div class="modal" id="myModal" >
        <div class="modal-dialog" style="display: table;">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <span  class="badge bg-danger" >Cập Nhật</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" >
                    <div class="your-new-wrapper">
                        <table class="table table-separate table-head-custom table-checkable" >
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Họ và Tên</th>
                                <th scope="col">Tên Đăng Nhập</th>
                                <th scope="col">Gmail</th>
                                <th scope="col">Số Điện Thoại</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td id="userId"></td>
                                <td id="fullName"><input type="text" id="name"></td>
                                <td id="userName"><input type="text" id="account"></td>
                                <td id="emailUser"><input type="email" id="email"></td>
                                <td Id="phoneUser"><input type="tel" id="phone"></td>
                            </tr>
                            <!-- Add more rows as needed -->
                            </tbody>
                        </table>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="buttonApply" >Apply</button>
                </div>
            </div>
        </div>
    </div>



</main><!-- End #main -->

<div th:replace="admin/fragments/footer :: footer"></div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div th:replace="admin/fragments/script :: script"></div>
</body>

<script>
    getProductAdmin()
        function getProductAdmin(){
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/api/product",
                contentType: "application/json",
                data: JSON.stringify({
                    dataType: "json",
                }),
               success: function(response) {
                    let productData = response?.data?.content;
                    let producT = "";
                    for (let p = 0; p < productData.length; p++){
                        console.log(productData[p]);
                        producT += '<tr>' +
                            '<td data-id="' + productData[p].id + '">' + (p + 1) + '</td>' +
                        '<td data-code="' + productData[p].code + '">' + productData[p].code + '</td>' +
                        '<td data-name="' + productData[p].name + '">' + productData[p].name + '</td>' +
                        '<td data-sizes="' + productData[p].sizes + '">' + productData[p].sizes + '</td>' +
                        '<td data-price="' + productData[p].price + '">' + productData[p].price + '</td>' +
                        '<td data-category="' + productData[p].category + '">' + productData[p].category + '</td>' +
                        '<td data-images="' + productData[p].images + '"> ' + productData[p].images + '</td>' +
                        '<td id="iconUpdate" data-bs-toggle="modal" data-bs-target="#myModal"><i  class="fas fa-edit" style="color: #45d25b; cursor: pointer; font-size: 20px;"></i></td>' +
                        '<td><i data-delete = " '+ productData[p].id +' " id="iconFix" class="fas fa-trash-alt" style="text-align: center; color: #ff5959; cursor: pointer; font-size: 18px;"></i></td>'
                        +'</tr>';
                    }
                   $('#body-Produc').html(producT);
                    console.log("không vào")
               },
                error: function (error) {
                    console.log(error);
                }
            });
        };

</script>

</html>